<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704900292037-jip4s8mj6k40uphj5g2pk2amkolhi0gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704900292037-jip4s8mj6k40uphj5g2pk2amkolhi0gp</string>
	<key>API_KEY</key>
	<string>AIzaSyDnofC94a39xCVtql2SKxxWc0PbEy9Ju_4</string>
	<key>GCM_SENDER_ID</key>
	<string>704900292037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminColorblindtest</string>
	<key>PROJECT_ID</key>
	<string>mechire-acbe9</string>
	<key>STORAGE_BUCKET</key>
	<string>mechire-acbe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704900292037:ios:db286a28baab21400e3fac</string>
</dict>
</plist>